[user]
	name = Stefan Bauckmeier
	email = stefan.bauckmeier@akra.de
[giggle]
	main-window-maximized = false
	main-window-geometry = 1523x1022+1670+0
	main-window-view = HistoryView
	history-view-vpane-position = 420
	show-graph = true
	file-view-vpane-position = 764
	file-view-hpane-position = 249
[merge]
	tool = meld
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	co = checkout
	st = status
	ci = commit
	rc = rebase --continue
	pr = pull --rebase
